version: '3.8'

services:
  bot:
    build: .
    container_name: tg_queue_bot
    restart: always
    env_file:
      - .env
    volumes:
      - ./data:/app/data  # Пробрасываем папку с БД для сохранения данных